# -*- coding: utf-8


<dl class="blog">
  <% @entries.each do |entry| %>
    <h2> <%= link_to "#{entry.title}", entry%> </h2>
    <div id="blog_main">
      <%= raw(entry.body) %>
    </div>

    <div id="article-tags">
      <dl>
	<dt>タグ ：</dt>
	<dd><a href="http://tamagohan.ddo.jp/~masaki/tag" title="ポータル タグ一覧ページへ" rel="tag">rails</a>        
	  <a href="http://tamagohan.ddo.jp/~masaki/tag" title="ポータル タグ一覧ページへ" rel="tag">heroku</a>
	</dd>
      </dl>
    </div>
    <div class="article-footer">                                                                                     
      <ul class="article-info">
        <li><abbr class="updated" title="2011-01-29T01:42:05+0900">
            <span class="article-date"><%= entry.created_at %></span>
        </li>
      </ul>
    </div>      
  <% end %>
  <% unless @pre_page.nil? %>
    <%= link_to '前のページ', "/entries/page/#{@pre_page}" %>
  <% end %>
  <% unless @succ_page.nil? %>
    <%= link_to '次のページ', "/entries/page/#{@succ_page}" %>
  <% end %>
</dl>


