<!DOCTYPE html>
<html>
<head>
  <title>たまごはんのブログ</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<!--  <link type="text/css" rel="stylesheet" href="/public/SyntaxHighlighter/Styles/SyntaxHighlighter.css" />
  <script type="text/javascript" src="/public/SyntaxHighlighter/Scripts/shCore.js"></script>
  <!-- 以下は表示したい言語に応じて -->
<!--  <script type="text/javascript" src="/public/SyntaxHighlighter/Scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="/public/SyntaxHighlighter/Scripts/shBrushCss.js"></script>
  <script type="text/javascript" src="/public/SyntaxHighlighter/Scripts/shBrushPhp.js"></script>
  <script type="text/javascript" src="/public/SyntaxHighlighter/Scripts/shBrushXml.js"></script>
  <script type="text/javascript" src="/public/SyntaxHighlighter/Scripts/shBrushRuby.js"></script>
  <script type="text/javascript">
    window.onload = function () {
    dp.SyntaxHighlighter.ClipboardSwf = 'Scripts/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
    }
  </script>
-->
<%= stylesheet_link_tag '/SyntaxHighlighter/Styles/SyntaxHighlighter.css' %>
<%= javascript_include_tag '/SyntaxHighlighter/Scripts/shCore.js' %>
<%= javascript_include_tag   '/SyntaxHighlighter/Scripts/shBrushJScript.js' %>
<%= javascript_include_tag '/SyntaxHighlighter/Scripts/shBrushCss.js' %>
<%= javascript_include_tag '/SyntaxHighlighter/Scripts/shBrushPhp.js' %>
<%= javascript_include_tag '/SyntaxHighlighter/Scripts/shBrushXml.js' %>
<%= javascript_include_tag '/SyntaxHighlighter/Scripts/shBrushRuby.js' %>

  <script type="text/javascript">
    window.onload = function () {
    dp.SyntaxHighlighter.ClipboardSwf = 'Scripts/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
    }
  </script>
</head>
<body>
<% unless current_account.nil? %>
  <Div Align="right">
    <%= link_to 'logout', account_session_path, :method => :delete %>
  </Div>
<% end %>
<div id="container">
  <div id="main">

    <div id="header">
      <h1>サーバ, rails, Android,プログラミング関係のことを書けたらいいなぁ。。</h1>
    </div><!--/header-->
    <div class="mainbox">
      
      <%= yield %>

    </div><!--/mainbox-->
    <%= link_to 'New Entry', new_entry_path %>
  </div><!--/main-->



  <div id="side">
    <!-- <a href="index.html"><img src="images/sobatya_bigger.gif.png" alt="tamagohan's Blog" name="logo" width="200" height="140" id="logo" /></a><br /> -->
    <!--      <a href="index.html"><img src="../../../../public/images/logo.gif" alt="tamagohan's Blog" name="logo" width="200" height="140" id="logo" /></a><br /> -->
    <%= image_tag('logo.gif', :alt => "tamagohan's Blog", :width => '200', :height => '140') %>
    <ul class="menu">
      <li><a href="http://tamagohan.ddo.jp">top page</a></li>
      <li><a href="http://tamagohan.ddo.jp/entries/22">about</a></li>
      <li><a href="https://github.com/tamagohan/">works</a></li>
      <li><a href="http://tamagohan.ddo.jp">blog</a></li>
      <li><a href="http://tamagohan.ddo.jp/entries/21">link</a></li>
    </ul>

    <h3>当ブログについて</h3>
    rails, サーバ系のことについておもいつくままに書いています。
    間違っていたところがありましたら、指摘してもらえると嬉しいです。

    <!-- <p>段落タグ&lt;p&gt;で囲みましょう。余白が自動で反映されます。 </p> -->

    <h3>twitterやってます</h3>
    <%= image_tag('sobatya_bigger.gif.png', :alt => 'tamagohan_high') %>
    <a href="http://twitter.com/#!/tamagohan_high">tamagohan_high</a>
    <h3>サポート</h3>

    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
	<td>
	  <table border="0" cellpadding="0" cellspacing="0">
	    <tr>
	      <td align="left">
		<img src="http://ac-counter.com/img/total.gif"><br>
		<a href="http://www.ac-counter.com/" target="_blank"><img src="http://ac-counter.com/total_disp.php?i=65916" border=0 alt="アクセスカウンター"></a>
	      </td>
	    </tr>
	    <tr>
	      <td align="left">
		<img src="http://ac-counter.com/img/today.gif"><br>
		<a href="http://www.karashitei.net/" target="_blank"><img src="http://ac-counter.com/today_disp.php?i=65916" border=0 alt="からし亭"></a>
	      </td>
	    </tr>
	    <tr>
	      <td align="left"><img src="http://ac-counter.com/img/yesterday.gif"><br>
		<a href="http://wedding.photo-mix.jp/" target="_blank"><img src="http://ac-counter.com/yesterday_disp.php?i=65916" border=0 alt="ウェルカムボード"></a>
	      </td>
	    </tr>
	    <tr align='left'>
	      <td>
		<a href="http://www.suntec-sg.co.jp/product/e_stand.html" target="_blank"><img src="http://ac-counter.com/img/1/ac_1.gif" border=0 alt="シャンプー"></a>
	      </td>
	    </tr>
	  </table>
	  <table>
	    <tr>
	      <td>
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>


  </div>
  <!--/side-->
    
    
  <div id="footer">
    Copyright&copy; 2010 たまごはんのブログ All Rights Reserved.<br />
    <a href="http://nikukyu-punch.com/" target="_blank">Template design by Nikukyu-Punch</a>
  </div>
  <!--/footer-->
</div>
<!--/container-->


</body>
</html>
